<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Editar anuncio')}"></head>

<body>
	<nav th:replace="~{fragmentos :: navbar}"></nav>
	<main class="container mt-1   bg-light ">
		<div class="row">
			<!-- Editar Animal # -->
			<!-- <section th:replace="~{animal/fragmentos :: sidebar('anuncio')}"></section> -->
			<div th:replace="~{admin/fragmentos :: sidebar('anuncio')}"></div>
			<section th:fragment="section-tab-dados(cabecalho)"
				class="col-md-8 my-3 ">
				<div class="d-flex align-items-start">
					<div class="nav flex-column nav-pills me-3" id="v-pills-tab"
						role="tablist" aria-orientation="vertical">
						<button class="nav-link  active" id="v-pills-home-tab"
							data-bs-toggle="pill" data-bs-target="#v-pills-home"
							type="button" role="tab" aria-controls="v-pills-home"
							aria-selected="true">Dados</button>
						<button class="nav-link  " id="v-pills-profile-tab"
							data-bs-toggle="pill" data-bs-target="#v-pills-profile"
							type="button" role="tab" aria-controls="v-pills-profile"
							aria-selected="false">Galeria</button>
						<!-- disabled -->
					</div>
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home"
							role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
							<section
								th:replace="~{animal/fragmentos :: formulario-novo(requisicaoFormAnimal,'/pet/private/animal/'+${animal.id},'Editar animal #'+${animal.id})}">
								formulario</section>
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab" tabindex="0">
							<section
								th:replace="~{animal/fragmentos :: galeria(requisicaoFormAnimal,'/pet/private/animal/new/'+${animal.id},'Editar animal #'+${animal.id})}">galeria</section>
						</div>
					</div>
				</div>

			</section>
			<!-- <section th:replace="~{animal/fragmentos :: section-tab-dados('Editar Animal #'+${animalId})}" ></section> -->
			<!-- <section
                th:replace="~{animal/fragmentos :: form(requisicaoFormAnimal,'/pet/private/animal','Cadastrar novo animal')}">
                formulario</section> -->

		</div>
	</main>
	<!-- footer - rodape basico -->
	<div class="container">
		<footer
			class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/"
					class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
					<div class="  text-center ">
						<img class="img-fluid"
							th:src="@{/imagens/MicrosoftTeams-image.png }" alt=""
							style="height: 5vh;" />
					</div>
				</a> <span class="mb-3 mb-md-0 text-muted">© 2023 Adote fácil</span>
			</div>
			<div class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<span class="mb-3 mb-md-0 text-muted"> Adote e transfome uma
					vida, a sua!</span>
			</div>
		</footer>
	</div>
	<section th:replace="~{fragmentos :: section-script}"></section>
</body>

</html>