<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Anuncio  ')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navbar}"></nav>
    <main class="container mt-1   bg-light ">
        <div class="row">
            <!-- <section th:replace="~{animal/fragmentos :: sidebar('anuncio')}"></section> -->
            <div th:replace="~{admin/fragmentos :: sidebar('anuncio')}"></div>
            <section th:fragment="section-tab-dados(cabecalho)" class="col-md-8 my-3 ">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link  active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Dados</button>
                        <button class="nav-link disabled" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">Galeria</button>
                        <!-- disabled -->
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab" tabindex="0">
                            <section
                                th:replace="~{animal/fragmentos :: formulario-novo(requisicaoFormAnimal,'/pet/private/animal','Cadastrar novo animal')}">
                                formulario</section>
                        </div>
                         
                    </div>
                </div>

            </section>
            <!-- <section th:replace="~{animal/fragmentos :: section-tab-dados('Cadastrar novo animal')}" ></section>   -->
            <!-- <section
                th:replace="~{animal/fragmentos :: form(requisicaoFormAnimal,'/pet/private/animal','Cadastrar novo animal')}">
                formulario</section> -->

        </div>
    </main>
    <section th:replace="~{fragmentos :: section-script}"></section>
</body>

</html>