<head th:replace="~{fragmentos :: head('Perfil')}"></head>
<nav th:replace="~{fragmentos :: navbar}"></nav>
<main class="container mt-1  bg-light ">

	<div class="row">
		<div th:replace="~{admin/fragmentos :: sidebar('perfil')}"></div>
		<div class="col-lg-8  col-md-8 col-sm-12">
			<section>
				<h1 class="display-5">
					Perfil # <span th:text="${usuario.id}"></span>
				</h1>


				<div class="col-xl-12">

					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

								<li class="nav-item" role="presentation">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#profile-overview" aria-selected="true"
										role="tab">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Visão geral</font></font>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-edit" aria-selected="false"
										role="tab" tabindex="-1">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Editar Perfil</font></font>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-settings" aria-selected="false"
										role="tab" tabindex="-1">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Imagem de perfil</font></font>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-change-password"
										aria-selected="false" role="tab" tabindex="-1">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Alterar a senha</font></font>
									</button>
								</li>

							</ul>
							<div class="tab-content pt-2">

								<div class="tab-pane fade profile-overview active show"
									id="profile-overview" role="tabpanel">

									<h5 class="card-title">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Detalhes de perfil</font></font>
									</h5>

									<div class="row">
										<div class="col-lg-3 col-md-4 label ">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Nome completo</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.nome}+' '+${usuario.sobrenome}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Cpf</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"> <span
													th:text="${usuario.cpf}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Nascimento</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.nascimento}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Sexo</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.sexo}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Telefone</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"> <span
													th:text="${usuario.telefone}"></span> <span
													th:text="${usuario.telefone2}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Email</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.email}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">CEP</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.cep}"></span></font></font>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Endereço</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.rua}"></span> <span
													th:text="${usuario.numero}"></span></font></font>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Bairro</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.bairro}"></span></font></font>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Cidade / Estado</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.cidade}"></span> <span
													th:text="${usuario.estado}"></span></font></font>
										</div>
									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit"
									role="tabpanel">

									<!-- Profile Edit Form -->
									<form class="" name="formUser" th:object="${usuario}"
										th:action="'/pet/private/perfil/'+${usuario.id}" method="post">
										

										<div class="row mb-3">
											<label for="nome" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Nome</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input type="text" class="form-control" th:field="*{nome}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{nome}"></div>
											</div>
										</div>
										<div class="row mb-3">
											<label for="sobrenome"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Sobrenome</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input type="text" class="form-control"
													th:field="*{sobrenome}" th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{sobrenome}"></div>
											</div>
										</div>
										<div class="row mb-3">
											<label for="cpf" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">CPF</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input type="text" class="form-control" th:field="*{cpf}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{cpf}"></div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="nascimento"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Nascimento</font></font></label>
											<div class="col-md-6 col-lg-3">
												<input type="text" class="form-control"
													th:field="*{nascimento}" th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{nascimento}"></div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="sexo" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Sexo</font></font></label>
											<div class="col-md-8 col-lg-9">

												<div class="col-md-12">
													<label  class="form-check-label" for="sexo1">
														<input class="form-check-input"  th:field="*{sexo}"
														value="feminino" type="radio" required="">
														Feminino
													</label> <label clclass="form-check-label" for="sexo2"> <input
														class="form-check-input"  th:field="*{sexo}"
														value="masculino" type="radio" required=""> Masculino
													</label>
												</div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="telefone"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Telefone</font></font></label>
											<div class="col-md-4 col-lg-5">
												<input type="text" class="form-control"
													th:field="*{telefone}" th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{telefone}"></div>
											</div>
											<div class="col-md-4 col-lg-4">
												<input type="text" class="form-control"
													th:field="*{telefone2}" th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{telefone2}"></div>
											</div>
										</div>
										<div class="row mb-3">
											<label for="email" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Email</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input type="text" class="form-control" th:field="*{email}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{email}"></div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="cep" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">CEP</font></font></label>
											<div class="col-md-6 col-lg-3">
												<input type="text" class="form-control" th:field="*{cep}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{cep}"></div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="endereco"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Endereço</font></font></label>
											<div class="col-md-7 col-lg-7">
												<input type="text" class="form-control" th:field="*{rua}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{rua}"></div>
											</div>
											<div class="col-md-2 col-lg-2">
												<input type="text" class="form-control" th:field="*{numero}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{numero}"></div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="bairro" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Bairro</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input type="text" class="form-control" th:field="*{bairro}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{bairro}"></div>
											</div>
										</div>
										<div class="row mb-3">
											<label for="cidade" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Cidade / Estado</font></font></label>
											<div class="col-md-7 col-lg-7">
												<input type="text" class="form-control" th:field="*{cidade}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{cidade}"></div>
											</div>
											<div class="col-md-2 col-lg-2">
												<input type="text" class="form-control" th:field="*{estado}"
													th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{estado}"></div>
											</div>
										</div>

								 
 

										<div class="text-center">
											<button type="submit" class="btn btn-primary">
												<font style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Salvar alterações</font></font>
											</button>
										</div>
									</form>
									<!-- End Profile Edit Form -->

								</div>

								<div class="tab-pane fade pt-3" id="profile-settings"
									role="tabpanel">

									<!-- Settings Form -->
								<form class="" name="formUser" th:object="${usuario}"
										th:action="'/pet/private/perfil/'+${usuario.id}" method="post">

										<div class="row mb-3">
											 <div class="row mb-3">
											<label for="profileImage"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Imagem de perfil</font></font></label>
											<div class="col-md-8 col-lg-9">
												<img src="assets/img/profile-img.jpg" alt="Perfil">
												<div class="pt-2">
													<a href="#" class="btn btn-primary btn-sm"
														title="Carregar nova imagem de perfil"><i
														class="bi bi-upload"></i></a> <a href="#"
														class="btn btn-danger btn-sm"
														title="Remover minha imagem de perfil"><i
														class="bi bi-trash"></i></a>
												</div>
											</div>
										</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">
												<font style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Salvar alterações</font></font>
											</button>
										</div>
									</form>
									<!-- End settings Form -->

								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password"
									role="tabpanel">
									<!-- Change Password Form -->
									<form class="" name="formUser" th:object="${usuario}"
										th:action="'/pet/private/perfil/'+${usuario.id}" method="post">

										<div class="row mb-3">
											<label for="currentPassword"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Senha atual</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="password" type="password" class="form-control"
													id="currentPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="newPassword"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Nova Senha</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="newpassword" type="password"
													class="form-control" id="newPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Re-introduza a nova
														palavra-passe</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="renewpassword" type="password"
													class="form-control" id="renewPassword">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">
												<font style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Alterar a senha</font></font>
											</button>
										</div>
									</form>
									<!-- End Change Password Form -->

								</div>

							</div>
							<!-- End Bordered Tabs -->

						</div>
					</div>

				</div>




				<!--                 <div class=" "> -->
				<!--                     <form th:object="${requisicaoFormUsuario}" -->
				<!--                         th:action="${'/pet/usuario/permissao/'}+${usuario.id}+${'/update'}" method="post"> -->


				<!--                         <div class="container mt-3"> -->
				<!--                             <div class="row"> -->
				<!--                                 <div class="col-12"> -->
				<!--                                     <hr> -->
				<!--                                     <h3><span class="form-label" th:text="'#'+${usuario.id}"></span></h3> -->
				<!--                                     <b>Nome:</b> <span class="form-label" th:text="${usuario.nome}"></span><br /> -->
				<!--                                     <b>Permissão atual:</b> <span class="form-label" -->
				<!--                                         th:text="${usuario.permissao.descricao}"></span><br /> -->
				<!--                                     <b>Ativo(a):</b> <span th:if="${usuario.ativo}"> -->
				<!--                                         Sim</span> <span th:unless="${usuario.ativo}">Não</span> -->

				<!--                                     <br /> -->
				<!--                                     <b>Atualizado por:</b> Edson <br /> -->
				<!--                                     <b>Atualizado em:</b> 22/12/22 <br /> -->
				<!--                                     <hr> -->

				<!--                                 </div> -->
				<!--                             </div> -->

				<!--                         </div> -->



				<!--                     </form> -->
				<!--                 </div> -->
			</section>


		</div>
	</div>

</main>
<!-- footer - rodape basico -->
<div class="container">
	<footer
		class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		<div class="col-md-4 d-flex align-items-center">
			<a href="/"
				class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
				<div class="  text-center ">
					<img class="img-fluid"
						th:src="@{/imagens/MicrosoftTeams-image.png }" alt=""
						style="height: 5vh;" />
				</div>
			</a> <span class="mb-3 mb-md-0 text-muted">© 2023 Adote fácil</span>
		</div>
		<div class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<span class="mb-3 mb-md-0 text-muted"> Adote e transfome uma
				vida, a sua!</span>
		</div>
	</footer>
</div>
<section th:replace="~{fragmentos :: section-script}"></section>