<head th:replace="~{fragmentos :: head('Perfil')}"></head>
<nav th:replace="~{fragmentos :: navbar}"></nav>
<main class="container mt-1  bg-light ">

	<div class="row">
		<div th:replace="~{admin/fragmentos :: sidebar('perfil')}"></div>
		<div class="col-lg-8  col-md-8 col-sm-12">
			<section>
				<h1 class="display-5">
					Perfil # <span th:text="${usuario.id}"></span>
				</h1>


				<div class="col-xl-12">

					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

								<li class="nav-item" role="presentation">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#profile-overview" aria-selected="true"
										role="tab">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Visão geral</font></font>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-edit" aria-selected="false"
										role="tab" tabindex="-1">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Editar Perfil</font></font>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-settings" aria-selected="false"
										role="tab" tabindex="-1">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Configurações</font></font>
									</button>
								</li>

								<li class="nav-item" role="presentation">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-change-password"
										aria-selected="false" role="tab" tabindex="-1">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Alterar a senha</font></font>
									</button>
								</li>

							</ul>
							<div class="tab-content pt-2">

								<div class="tab-pane fade profile-overview active show"
									id="profile-overview" role="tabpanel">

									<h5 class="card-title">
										<font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">Detalhes de perfil</font></font>
									</h5>

									<div class="row">
										<div class="col-lg-3 col-md-4 label ">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Nome completo</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.nome}+' '+${usuario.sobrenome}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Cpf</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"> <span
													th:text="${usuario.cpf}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Nascimento</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.nascimento}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Sexo</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.sexo}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Telefone</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"> <span
													th:text="${usuario.telefone}"></span> <span
													th:text="${usuario.telefone2}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Email</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.email}"></span></font></font>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">CEP</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.cep}"></span></font></font>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Endereço</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.rua}"></span> <span
													th:text="${usuario.numero}"></span></font></font>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Bairro</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.bairro}"></span></font></font>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-3 col-md-4 label">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">Cidade / Estado</font></font>
										</div>
										<div class="col-lg-9 col-md-8">
											<font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;"><span
													th:text="${usuario.cidade}"></span> <span
													th:text="${usuario.estado}"></span></font></font>
										</div>
									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit"
									role="tabpanel">

									<!-- Profile Edit Form -->
									<form class="" name="formUser" th:object="${usuario}"
										th:action="'/pet/private/perfil/'+${usuario.id}" method="post">
										<div class="row mb-3">
											<label for="profileImage"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Imagem de perfil</font></font></label>
											<div class="col-md-8 col-lg-9">
												<img src="assets/img/profile-img.jpg" alt="Perfil">
												<div class="pt-2">
													<a href="#" class="btn btn-primary btn-sm"
														title="Carregar nova imagem de perfil"><i
														class="bi bi-upload"></i></a> <a href="#"
														class="btn btn-danger btn-sm"
														title="Remover minha imagem de perfil"><i
														class="bi bi-trash"></i></a>
												</div>
											</div>
										</div>

										<div class="row mb-3">
											<label for="fullName"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Nome</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="fullName" type="text" class="form-control"
													th:field="*{nome}" th:errorclass=" is-invalid">
												<div class="invalid-feedback" th:errors="*{nome}"></div>
											</div>
										</div>
										<div class="row mb-3">
											<label for="fullName"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Sobrenome</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="fullName" type="text" class="form-control"
													id="fullName" value="Kevin Anderson">
											</div>
										</div>


										<div class="row mb-3">
											<label for="about" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Sobre</font></font></label>
											<div class="col-md-8 col-lg-9">
												<textarea name="about" class="form-control" id="about"
													style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea>
											</div>
										</div>

										<div class="row mb-3">
											<label for="company" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Empresa</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="company" type="text" class="form-control"
													id="company" value="Lueilwitz, Wisoky and Leuschke">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Job" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Trabalho</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="job" type="text" class="form-control" id="Job"
													value="Web Designer">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Country" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">País</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="country" type="text" class="form-control"
													id="Country" value="USA">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Address" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Endereço</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="address" type="text" class="form-control"
													id="Address" value="A108 Adam Street, New York, NY 535022">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Phone" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Telefone</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="phone" type="text" class="form-control"
													id="Phone" value="(436) 486-3538 x29071">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Email" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">E-mail</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="email" type="email" class="form-control"
													id="Email" value="k.anderson@example.com">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Twitter" class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Perfil do Twitter</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="twitter" type="text" class="form-control"
													id="Twitter" value="https://twitter.com/#">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Facebook"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Perfil do Facebook</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="facebook" type="text" class="form-control"
													id="Facebook" value="https://facebook.com/#">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Instagram"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Perfil do Instagram</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="instagram" type="text" class="form-control"
													id="Instagram" value="https://instagram.com/#">
											</div>
										</div>

										<div class="row mb-3">
											<label for="Linkedin"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Perfil do linkedIn</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="linkedin" type="text" class="form-control"
													id="Linkedin" value="https://linkedin.com/#">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">
												<font style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Salvar alterações</font></font>
											</button>
										</div>
									</form>
									<!-- End Profile Edit Form -->

								</div>

								<div class="tab-pane fade pt-3" id="profile-settings"
									role="tabpanel">

									<!-- Settings Form -->
									<form>

										<div class="row mb-3">
											<label for="fullName"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Notificações por
														e-mail</font></font></label>
											<div class="col-md-8 col-lg-9">
												<div class="form-check">
													<input class="form-check-input" type="checkbox"
														id="changesMade" checked=""> <label
														class="form-check-label" for="changesMade"><font
														style="vertical-align: inherit;"><font
															style="vertical-align: inherit;"> Alterações
																feitas em sua conta </font></font></label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox"
														id="newProducts" checked=""> <label
														class="form-check-label" for="newProducts"><font
														style="vertical-align: inherit;"><font
															style="vertical-align: inherit;"> Informações
																sobre novos produtos e serviços </font></font></label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox"
														id="proOffers"> <label class="form-check-label"
														for="proOffers"><font
														style="vertical-align: inherit;"><font
															style="vertical-align: inherit;"> Marketing e
																ofertas promocionais </font></font></label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="checkbox"
														id="securityNotify" checked="" disabled=""> <label
														class="form-check-label" for="securityNotify"><font
														style="vertical-align: inherit;"><font
															style="vertical-align: inherit;"> Alertas de
																segurança </font></font></label>
												</div>
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">
												<font style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Salvar alterações</font></font>
											</button>
										</div>
									</form>
									<!-- End settings Form -->

								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password"
									role="tabpanel">
									<!-- Change Password Form -->
									<form>

										<div class="row mb-3">
											<label for="currentPassword"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Senha atual</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="password" type="password" class="form-control"
													id="currentPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="newPassword"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Nova Senha</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="newpassword" type="password"
													class="form-control" id="newPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword"
												class="col-md-4 col-lg-3 col-form-label"><font
												style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Re-introduza a nova
														palavra-passe</font></font></label>
											<div class="col-md-8 col-lg-9">
												<input name="renewpassword" type="password"
													class="form-control" id="renewPassword">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">
												<font style="vertical-align: inherit;"><font
													style="vertical-align: inherit;">Alterar a senha</font></font>
											</button>
										</div>
									</form>
									<!-- End Change Password Form -->

								</div>

							</div>
							<!-- End Bordered Tabs -->

						</div>
					</div>

				</div>




				<!--                 <div class=" "> -->
				<!--                     <form th:object="${requisicaoFormUsuario}" -->
				<!--                         th:action="${'/pet/usuario/permissao/'}+${usuario.id}+${'/update'}" method="post"> -->


				<!--                         <div class="container mt-3"> -->
				<!--                             <div class="row"> -->
				<!--                                 <div class="col-12"> -->
				<!--                                     <hr> -->
				<!--                                     <h3><span class="form-label" th:text="'#'+${usuario.id}"></span></h3> -->
				<!--                                     <b>Nome:</b> <span class="form-label" th:text="${usuario.nome}"></span><br /> -->
				<!--                                     <b>Permissão atual:</b> <span class="form-label" -->
				<!--                                         th:text="${usuario.permissao.descricao}"></span><br /> -->
				<!--                                     <b>Ativo(a):</b> <span th:if="${usuario.ativo}"> -->
				<!--                                         Sim</span> <span th:unless="${usuario.ativo}">Não</span> -->

				<!--                                     <br /> -->
				<!--                                     <b>Atualizado por:</b> Edson <br /> -->
				<!--                                     <b>Atualizado em:</b> 22/12/22 <br /> -->
				<!--                                     <hr> -->

				<!--                                 </div> -->
				<!--                             </div> -->

				<!--                         </div> -->



				<!--                     </form> -->
				<!--                 </div> -->
			</section>


		</div>
	</div>

</main>
<section th:replace="~{fragmentos :: section-script}"></section>