<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Home')}"></head>

<body class="hold-transition layout-top-nav layout-navbar-fixed"
	style="background-image: './imagens/MicrosoftTeams-image.png';">

	<nav th:replace="~{fragmentos :: navbar}"></nav>

	<div style="margin-top: 10px;"></div>
	<main>
		<div class="">



			<div class="container">
				<div class="row alert alert-warning alert-dismissible fade show" role="alert">
					<div class="col-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
							class="bi bi-list-check" viewBox="0 0 20 20">
							<path
								d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
						</svg>
					</div>
					<div class="col-8">

						<h4 class="alert-heading">Lembre-se!</h4>
						<p>Não é possível adotar pets que se encontram em
							outra
							cidade que não
							seja a sua.</p>
						<hr>
						<p class="mb-0">Portanto procure na sua cidade ou regiões próximas.</p>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			</div>

			<div class="container">
				
				<section th:replace="~{private/intencao/fragmentos :: form(requisicaoFormAdotar,'/pet/private/intencao-adotar','Cadastrar nova coisa')}">  formulario</section>
				
			</div>
	</main>

	<section th:replace="~{fragmentos :: section-script}"></section>
</body>

</html>