 
.custon-txt-white:hover{
   background-color: rgba(0, 0, 0,0.3)
}
main{
    min-height: 80vh;
}

.login-page{
    /* padding-top: 10vh; */
    background-image: url('imagens/MicrosoftTeams-image.jpeg');
    background-size: cover;
   
  }
  textarea{
    resize: none; /* impede que o próprio usuário altere o tamanho do textarea */
     
    height:400px;
    overflow-y: auto;
   
}
.myLogo{
	background-image: '../../imagens/MicrosoftTeams-image.png';
}