<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Galeria')}"></head>

<body>
	<nav th:replace="~{fragmentos :: navbar}"></nav>
	<main class="container mt-1   bg-light ">

		<div class="content">
			<div class="container">

				<div class="col-md-12">
					<h1 class="m-0" id="adote-animalzinho">
						Galeria <small> seu novo animalzinho ta aqui!</small>
					</h1>
				</div>


				<div class="row">
					<div class=" col-lg-4 col-md-6 col-sm-12"
						th:each="animal : ${animais}">
						<div class="card mb-4 shadow-sm" style="min-height: 600px">
							<div
								th:if="${animal.petImagem != null and animal.petImagem.size() > 0}">
<!-- 								<img class="card-img-top" style="min-height: 400px" -->
<!-- 									th:src="@{/pet/mostrarImagem/img-pet/{imagem}(imagem=${animal.petImagem[0].caminhoImagem})}" -->
<!-- 									alt="Card image cap"> -->
								<img  
									th:replace="~{fragmentos-img :: imagem-animal-400(${animal.petImagem[0].getUrlImagem})}">
							</div>
							<div
								th:if="${animal.petImagem == null || animal.petImagem.size() == 0}">
								<img class="card-img-top" style="min-height: 400px"
									th:src="@{/pet/mostrarImagem/img-pet/}" alt="Card image cap">

							</div>

							<div class="card-body">
								<span th:text="${'#'+animal.id}"></span>
								<h1>
									<span th:text="${animal.nome}"></span>
								</h1>
								<p class="card-text">
									<span th:text="${animal.resumo}"></span>
								</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a th:href="@{/pet/public/galeria/{id} (id=${animal.id})}"
											class="btn btn-sm btn-outline-secondary">Ver</a> <a
											th:href="@{/pet/private/intencao-adotar/new/{id} (id=${animal.id})}"
											class="btn btn-sm btn-outline-success">Adotar</a>
									</div>
									<small class="text-muted"> <span
										th:if="${animal.sexo == 2}">Macho</span> <span
										th:if="${animal.sexo == 1}">Fêmea</span> <span
										th:unless="${animal.sexo }">Indefinido</span> <span
										type="text"
										th:text="${animal.idade[0] ==1  ? animal.idade[1] + ' ano ' : ''}
													 + ${animal.idade[0] > 1 ? ' ' + animal.idade[0] + ' anos ' : ''} 
													 + ${animal.idade[1] == 1 ? ' ' + animal.idade[1] + ' mes ' : ''} 
													 + ${animal.idade[1] > 1 ? ' ' + animal.idade[1] + ' meses ' : ''} 
													 + ${animal.idade[2] == 1 ? ' ' + animal.idade[2] + ' dia ' : ''} 
													 + ${animal.idade[2] > 1 ? ' ' + animal.idade[2] + ' dias  ' : ''} "
										class="  "></span>
									</small>
								</div>
							</div>
						</div>
					</div>




				</div>


				<!-- START THE FEATURETTES -->


			</div>
		</div>
		
	</main>
	<!-- footer - rodape basico -->
	<div class="container">
		<footer
			class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/"
					class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
					<div class="  text-center ">
						<img class="img-fluid"
							th:src="@{/imagens/MicrosoftTeams-image.png }" alt=""
							style="height: 5vh;" />
					</div>
				</a> <span class="mb-3 mb-md-0 text-muted">© 2023 Adote fácil</span>
			</div>
			<div class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<span class="mb-3 mb-md-0 text-muted"> Adote e transfome uma
					vida, a sua!</span>
			</div>
		</footer>
	</div>
	<section th:replace="~{fragmentos :: section-script}"></section>
</body>

</html>