<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Exibir anuncio animal')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navbar}"></nav>
    <main class="container mt-1   bg-light  ">
        <div class="row">
            <!-- Editar Animal # -->
            <!-- <section th:replace="~{private/animal/fragmentos :: sidebar('anuncio')}"></section> -->
            <!-- <div th:replace="~{admin/fragmentos :: sidebar('anuncio')}"></div> -->
            <section class="col-md-12">
                <h1 class="display-5">Detalhe de animal #<span th:text="${animal.id}"></span></h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/pet/private/intencao-adotar/new/{id} (id=${animal.id})}" class="btn btn-success me-md-2 px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-list-check" viewBox="0 0 20 20"> 
                                <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0z"/>
                               </svg>
                        Adotar</a>

                    <a href="/pet/public/galeria" class="btn btn-primary me-md-2 px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-list-check" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                        </svg>
                        Galeria</a>

                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <hr>
                            <h1 class="fs-4">Dados do animal  </h1>
                            <b>Nome:</b> <span class="form-label" th:text="${animal.nome}"></span><br />
                            <b>Especie:</b> <span class="form-label" th:text="${animal.especie.descricao}"></span><br />
                            <b>Raça:</b> <span class="form-label" th:text="${animal.getPetRaca.getRaca}"></span><br />
                            <b>Porte:</b> <span class="form-label" th:text="${animal.porte.descricao}"></span><br />
                            <b>Cor de pelagem:</b> <span class="form-label" th:text="${listaCor.cor}"></span><br />

                            <b>Especie:</b> <span class="form-label" th:text="${animal.especie.descricao}"></span><br />


                            <b>Disponivel:</b> <a th:if="${animal.disponivel}" class="text-decoration-none"
                                th:href="@{/pet/private/animal/{id}/deactivate (id=${animal.id})}"> Sim</a> <a
                                th:unless="${animal.disponivel}" class="text-decoration-none"
                                th:href="@{/pet/private/animal/{id}/activate (id=${animal.id})}">Não</a>

                            <br />
                            <b>Atualizado por:</b> Edson <br />
                            <b>Atualizado em:</b> 22/12/22 <br />
                        </div>
                    </div>
                    <hr>
                    <h1 class="fs-4">Imagens do animal  </h1>
                    <section>
                        
										
                    </section>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <a type="button"
											 
											class=" " data-bs-toggle="modal"
											th:data-bs-target="|#userModal${animal.id}|">
                                            <img width="100%" height="100%"
                                            src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                            class="img-thumbnail" alt="...">
										</a>
                                        <!-- Modal -->
										<div class="modal modal-xl    fade" th:id="|userModal${animal.id}|"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog  ">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1>Foto</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img width="100%" height="100%"
                                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                                    class="img-fluid" alt="...">
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div><div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div>
                    </div>

            </section>
            

        </div>
    </main>
    <!-- <h1>mostrando</h1> -->
    <section th:replace="~{fragmentos :: section-script}"></section>
</body>

</html>