<section th:fragment="form(requisicaoFormPostagem,action,titulo)">
    <h1 class="display-5" th:text="${titulo}">Cadastrar </h1>

    <form th:object="${requisicaoFormPostagem}" th:action="${action}" method="post" name="formulario"
    onsubmit="document.getElementById('btnEnviar').disabled = true;"
        enctype="multipart/form-data">
        <div class="col-sm-12">
        </div>
        <div class="card  card-default ">

            <div class="card-header">
                <div class="row">
                    <div class=" col-md-12"> 
                       <img
											th:replace="~{fragmentos-img :: imagem-postagem-500(${p})}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="nome">Imagem </label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="caminhoImagem" name="caminhoImagem"  accept="image/*">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="dataPublicacao">Data de publicação</label>
                        <input type="date" class="form-control" th:field="*{dataPublicacao}"  placeholder="01/01/0001 " >
                        <div class="invalid-feedback" th:errors="*{dataPublicacao}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-md-12 ">
                        <label for="titulo">Titulo </label>
                        <input type="text" class="form-control"  th:field="*{titulo}"
                            placeholder="Evento de adoção ... ">
                            <div class="invalid-feedback" th:errors="*{titulo}"></div>
                    </div>
                    <div class="form-group  col-md-12 ">
                        <label for="linkEvento">Link </label>
                        <input type="url" class="form-control"  th:field="*{linkEvento}" 
                       pattern="https://.+"placeholder="https://example.com">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="conteudo">Descrição </label>
                            <textarea class="form-control" th:field="*{conteudo}"
                             maxlength="500"
                                placeholder="Evento que acontecerá de forma livre e gratuita dia tal no endereço ...  "
                                style="height: 200px;" > </textarea>
                                <div class="invalid-feedback" th:errors="*{conteudo}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary mt-1" id="btnEnviar">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-arrow-right-circle-fill" viewBox="0 0 20 20">
                    <path
                        d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
                Submeter</button>
        </div>
    </form>
</section>