<!DOCTYPE html>
<html lang="pt-br">


<head th:replace="fragments/head ">

</head>

<body class="hold-transition layout-top-nav layout-navbar-fixed"
	style="background-image: './imagens/MicrosoftTeams-image.png';">


	<!-- navbar - barra de menu -->
	<nav th:replace="fragments/navbar :: navbar">...</nav>
	<div style="margin-top: 10px;"></div>
	<main>
		<div class="content-wrapper" style="min-height: 747px;">
			<div class="content-header">
				<div class="content">
					<div class="container">
						<div class="row featurette align-items-center" style="margin: 20px">
							<div class="col-md-6 order-md-1">
							</div>
						</div>
					</div>
					<div class="content">
						<div class="container">
							<div class="col-sm-12">
								<h1 class="m-0" id="quem-somos">
									Cadastro <small> de Animal </small>
								</h1>
							</div>

							<div class="col-sm-12">
							</div>
							<div class="card  card-default ">

								<div class="card-header">
									<div class="row">
										<div class="form-group col-sm-8">
											<label for="nome">Nome do Animal</label>
											<input type="text" class="form-control" id="nome"
												placeholder="Digite nome do Animal ">
										</div>
										<div class="form-group col-sm-4">
											<label for="raça">Raça</label>
											<div class="form-group">
												<select class="form-select" id="raça"
													aria-label="Floating label select example">
													<option selected>Selecione uma raça</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
													<option value="1">Dachshund</option>
													<option value="2">Labrador retriever</option>
													<option value="3">Buldogue francês</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-sm-2">
											<label for="nascimento">Nascimento Animal </label>
											<input type="date" class="form-control" id="nascimento"
												placeholder="nascimento ">
										</div>
										<div class="form-group col-sm-3">
											<label for="especie">Especie</label>
											<input type="especie" class="form-control" id="especie"
												placeholder="Digite a Especie  ">
										</div>
										<div class="form-group col-sm-3">
											<label for="porte">Porte do Animal</label>
											<div class="form-group">
												<select class="form-select" id="raça"
													aria-label="Floating label select example">
													<option selected>Selecione um porte</option>
													<option value="1">Pequeno</option>
													<option value="2">Médio</option>
													<option value="3">Grande</option>
												</select>
											</div>
										</div>
										<div class="form-group col-sm-4">
											<label for="porte">Cor do animal</label>
											<div class="form-group">
												<select class="form-select" id="raça"
													aria-label="Floating label select example">
													<option selected>Selecione uma cor</option>
													<option value="1">Marrom</option>
													<option value="2">Azul</option>
													<option value="3">Branco</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-sm-3">
											<label for="sexo">Sexo</label>
											<div class="form-group  ">
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="sexo" id="sexo1">
													<label class="form-check-label" for="sexo1">
														Maculino
													</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="sexo" id="sexo2">
													<label class="form-check-label" for="sexo2">
														Feminino
													</label>
												</div>
												<div class="form-check form-check-inline" style="display: none;">
													<input class="form-check-input" type="radio" name="sexo" id="sexo3"
														checked>
													<label class="form-check-label" for="sexo3">
														Indefinido
													</label>
												</div>
											</div>
										</div>
										<div class="form-group col-sm-2">
											<label for="vacina">Vacina</label>
											<div class="form-group  ">
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="vacina"
														id="vacina1">
													<label class="form-check-label" for="vacina1">
														Sim
													</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="vacina"
														id="vacina2">
													<label class="form-check-label" for="vacina2">
														Não
													</label>
												</div>
												<div class="form-check form-check-inline" style="display: none;">
													<input class="form-check-input" type="radio" name="vacina"
														id="vacina3" checked>
													<label class="form-check-label" for="vacina3">
														Indefinido
													</label>
												</div>
											</div>
										</div>
										<div class="form-group col-sm-2">
											<label for="idade">Idade</label>
											<input min='0' type="number" class="form-control" id="idade"
												placeholder="idade ">
										</div>
										<div class="form-group col-sm-5">
											<label for="idade">Foto</label>
											<div class="input-group mb-3">
												<input type="file" class="form-control" id="inputGroupFile01"
													accept="image/*">
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-6">
												<label for="observações">Descição do animal</label>
												<textarea class="form-control"
													placeholder="Descreva como é o dia a dia do animal"
													id="observações"></textarea>
											</div>
											<div class="form-group col-sm-6">
												<label for="observações">Observações</label>
												<textarea class="form-control" placeholder="observações gerais "
													id="observações"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="card  card-default ">
							<div class="row featurette align-items-center" style="margin: 20px">
								<div class="col-md-12 order-md-1">
									<div class="row">
										<button type="button"
											class="btn btn-success btn-lg btn-block">Cadastrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</main>
	<!-- footer - rodape basico -->
	<div th:replace="fragments/footer :: footer">...</div>
	<section th:replace="fragments/script :: section-script">...
	</section>
</body>

</html>