<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="fragments/head ">

</head>

<body class="hold-transition layout-top-nav layout-navbar-fixed"
	style="background-image: './imagens/MicrosoftTeams-image.png';">



	<!-- navbar - barra de menu -->
	<nav th:replace="fragments/navbar :: navbar">...</nav>

	<div style="margin-top: 10px;"></div>
	<main>
		<div class="content-header">

			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container">



					<!-- START THE FEATURETTES -->
					<div class="col-sm-12">
						<h1 class="m-0" id="quem-somos">
							Para iniciarmos <small>precisamos saber sua localização, ok? </small>
						</h1>
					</div>
					<div class="card  card-default ">
						<div class="card-header">
							<h3 class="card-title">Lembre-se que não é possível adotar pets que se encontram em outra
								cidade que não
								seja a sua.</h3>
						</div>


						<!-- <hr class="featurette-divider" /> -->
						<div class="row featurette align-items-center" style="margin: 20px">
							<div class="col-md-6 order-md-1">

								<div class="col-lg-12">
									<div class="form-group">
										<label>Estado</label>
										<select class="form-control  select2" style="width: 100%;">
											<option selected="selected">Alabama</option>
											<option>Alaska</option>
											<option>California</option>
											<option>Delaware</option>
											<option>Tennessee</option>
											<option>Texas</option>
											<option>Washington</option>
										</select>
									</div>
								</div>
							</div>


							<div class="col-md-6 order-md-2">
								<div class="col-lg-12">
									<div class="form-group">
										<label>Cidade</label>
										<select class="form-control select2 select2-hidden-accessible"
											style="width: 100%;" data-select2-id="4" tabindex="-1" aria-hidden="true">
											<option selected="selected" data-select2-id="6">Alabama</option>
											<option>Alaska</option>
											<option>California</option>
											<option>Delaware</option>
											<option>Tennessee</option>
											<option>Texas</option>
											<option>Washington</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container">
					<div class="col-sm-12">
						<h1 class="m-0" id="quem-somos">
							Formulário <small> de Interesse em Adoção </small>
						</h1>
					</div>
					<div class="card  card-default ">
						<div class="card-header">
							<label> Bem-vindo(a) ao nosso Formulário de Interesse. </label>
						</div>

						<div class="card-header">
							<p>
								Ficamos muito felizes por você ter dado o primeiro passo para adotar um animal.
							</p>
							<p>
								Aqui você irá responder algumas perguntas iniciais para que a ONG/protetor parceiro
								possa te conhecer
								melhor e dar agilidade ao processo de adoção.
							</p>
							<p>
								Precisaremos de alguns dados pessoais para que possam entrar em contato com você, além
								de saber um
								pouco sobre a sua casa, sua família, estrutura, entre outras informações.
							</p>
						</div>
						<!-- <hr class="featurette-divider" /> -->
						<div class="row featurette align-items-center" style="margin: 20px">
							<div class="col-md-12 order-md-1">
								<div class="row">

									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
											style="height:30px;width:30px;margin-right: 15px;">
										<span>
											Declaro que sou maior de 18 anos, li e estou ciente das informações
											passadas e de
											acordo em compartilhar meus dados para fins de contato por uma ONG/protetor
											parceiro do sistema
											Adote facil. Entendo que o formulário capta o interesse em ser contactado
											pela ONG/protetor
											parceiro para entrevista e não garante reserva do pet caso seja identificado
											como disponível no
											sistema.</span>

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<h1 class="m-0" id="quem-somos">
							Responda <small> o questionário </small>
						</h1>
					</div>
					<div class="card  card-default ">
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Sua residência é própria ou alugada?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_respa" id="rb_respa1">
											<label class="form-check-label" for="rb_respa1">
												Própria
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_respa" id="rb_respa2">
											<label class="form-check-label" for="rb_respa2">
												Alugada
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_respa" id="rb_respa3"
												checked>
											<label class="form-check-label" for="rb_respa3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Mora em apartamento ou casa?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_mac" id="rb_mac1">
											<label class="form-check-label" for="rb_mac1">
												Apartamento
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_mac" id="rb_mac2">
											<label class="form-check-label" for="rb_mac2">
												Casa
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_mac" id="rb_mac3"
												checked>
											<label class="form-check-label" for="rb_mac3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-6">Tem crianças em casa?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_tc" id="rb_tc1">
											<label class="form-check-label" for="rb_tc1">
												Sim, apenas 1 criança
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_tc" id="rb_tc2">
											<label class="form-check-label" for="rb_tc2">
												Sim, 2 crianças ou mais
											</label>
										</div>

										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_tc" id="rb_tc3">
											<label class="form-check-label" for="rb_tc3">
												Não tenho crianças
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_tc" id="rb_tc4"
												checked>
											<label class="form-check-label" for="rb_tc4">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>


						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Todos os residentes de sua casa estão de acordo?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_tr" id="rb_tr1">
											<label class="form-check-label" for="rb_tr1">
												Sim, todos estão
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_tr" id="rb_tr2">
											<label class="form-check-label" for="rb_tr">
												Não
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_tr" id="rb_tr3"
												checked>
											<label class="form-check-label" for="rb_tr3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Se caso você precisar se ausentar existe alguem que possa
									cuidar do animal?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_pa" id="rb_pa1">
											<label class="form-check-label" for="rb_pa1">
												Sim
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_pa" id="rb_pa2">
											<label class="form-check-label" for="rb_pa2">
												Não
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_pa" id="vrb_pa3"
												checked>
											<label class="form-check-label" for="rb_pa3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Sua residência possui quintal ou jardim ?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_rq" id="rb_rq1">
											<label class="form-check-label" for="rb_rq1">
												Sim
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_rq" id="rb_rq2">
											<label class="form-check-label" for="rb_rq2">
												Não
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_rq" id="vrb_rq3"
												checked>
											<label class="form-check-label" for="rb_rq3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Possui tempo para passeios ?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_pp" id="rb_pp1">
											<label class="form-check-label" for="rb_pp1">
												Sim
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_pp" id="rb_pp2">
											<label class="form-check-label" for="rb_pp2">
												Não
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_pp" id="rb_pp3"
												checked>
											<label class="form-check-label" for="rb_pp3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-header">
							<div class="row">
								<div class="col col-sm-8">Tem algum outro animal na casa?</div>
								<div class="col col-sm2">
									<div class="form-group  ">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_ta" id="rb_ta1">
											<label class="form-check-label" for="rb_ta1">
												Sim
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="rb_ta" id="rb_ta2">
											<label class="form-check-label" for="rb_ta2">
												Não
											</label>
										</div>
										<div class="form-check form-check-inline" style="display: none;">
											<input class="form-check-input" type="radio" name="rb_ta" id="vacina3"
												checked>
											<label class="form-check-label" for="rb_ta3">
												Indefinido
											</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card  card-default ">
							<div class="row featurette align-items-center" style="margin: 20px">
								<div class="col-md-12 order-md-1">
									<div class="row">
										<button type="button"
											class="btn btn-success btn-lg btn-block">Cadastrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- footer - rodape basico -->
	<div th:replace="fragments/footer :: footer">...</div>
	<section th:replace="fragments/script :: section-script">...
	</section>
</body>

</html>