<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="fragments/head ">

</head>

<body class="hold-transition layout-top-nav layout-navbar-fixed">

	<!-- navbar - barra de menu -->
	<nav th:replace="fragments/navbar :: navbar">...</nav>

	<div style="margin-top: 10px;"></div>
	<main>
	<div id="liveAlertPlaceholder"></div>
		<h1 class="container">Cores</h1>
		<section class="content">
			<div class="container">
				<!-- <h1 class="display-6 text-center">Cor</h1> -->
				<div class="row">
					<!-- Left col -->
					<section class="col-lg-6  ">
						<!-- <h1>lado direito</h1> -->
						<div class="card card-primary ">
							<div class="card-header">
								<h3 class="card-title">Cadastrar cores de animais</h3>
							</div>
							<!-- /.card-header -->
							<!-- form start -->
							<form action="/pet/pet-cor" method="post">
								<div class="card-body">
									<div class="form-group " style="display:none;">
										<label for="nome-cor">Id</label>
										<input type="text" class="form-control " id="id" name="id" th:value="${c.id}"
											placeholder="Id atual">
									</div>
									<div class="form-group ">
										<label for="nome-cor">Digite aqui nome da cor</label>
										<input type="text" class="form-control " id="cor" name="cor" th:value="${c.cor}"
											placeholder="Digite uma cor ">
									</div>
								</div>
								<div class="card-footer ">
									<button type="submit" id="liveAlertBtn" class="btn btn-primary">Gravar</button>
									 

								</div>
							</form>
						</div>
					</section>
					<section class="col-lg-6">
						<!-- <h1>lado esquerdo</h1> -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Tabela de cores</h3>

							</div>
							<!-- /.card-header -->
							<div class="card-body p-3 ">
								<table class="table  table-hover">
									<thead>
										<tr>
											<th style="width: 10px">#</th>
											<th>Cores</th>
											<th style="width: 40px">Opções</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="cor : ${cor}">


											<td><span th:text="${cor.id}"></span>.</td>
											<td><span th:text="${cor.cor}"></span></td>
											<td>
												<div class="btn-group">
													<a th:href="@{/pet/pet-cor/{id}(id=${cor.id})}" class="btn btn-info">
														<i class="bi bi-pencil"></i></a>
													<a th:href="@{/pet/pet-cor/{id}/excluir (id=${cor.id})}" class="btn btn-danger"> <i class="bi bi-trash3"></i></a>
												</div>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
							<div class="card-tools">
								<ul class="pagination pagination-md justify-content-center">
									<li class="page-item"><a class="page-link" href="#">«</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">»</a></li>
								</ul>
							</div>
							<!-- /.card-body -->
						</div>
					</section>
					<!-- right col -->
				</div>
				<!-- /.row (main row) -->
			</div><!-- /.container-fluid -->
		</section>
	</main>
	<!-- footer - rodape basico -->
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
					<div class="  text-center ">
						<img class="img-fluid" src="imagens/MicrosoftTeams-image.png " alt="" style="height: 5vh;" />
					</div>
				</a>
				<span class="mb-3 mb-md-0 text-muted">© 2023 Adote fácil</span>
			</div>
			<div class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<span class="mb-3 mb-md-0 text-muted"> Adote e transfome uma vida, a sua!</span>
			</div>
		</footer>
	</div>

		<section th:replace="fragments/script :: section-script">...
	</section>
</body>

</html>