<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="fragments/head ">

</head>

<body class="hold-transition layout-top-nav layout-navbar-fixed"
	style="background-image: './imagens/MicrosoftTeams-image.png';">



	<!-- navbar - barra de menu -->
	<nav th:replace="fragments/navbar :: navbar">...</nav>
	<div style="margin-top: 10px;"></div>
	<main>
		<div class="content-wrapper" style="min-height: 747px;">
			<div class="content-header">
				<div class="content">
					<div class="container">
						<div class="row featurette align-items-center" style="margin: 20px">
							<div class="col-md-6 order-md-1"><a href="/pet/postagem" class="btn  btn-primary">Lista evento</a></div>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="container">
							<div class="col-sm-12">
								<h1 class="m-0" id="quem-somos">
									Cadastro <small> de postagem </small>
								</h1>
							</div>

							<div class="col-sm-12">
							</div>
							<div class="card  card-default ">

								<div class="card-header">
									<div class="row">
										<div class=" col-md-12">
											<label for="nome"></label>
											<img class="form-control"
												src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVdxeWlVQ9PncYAMwTXUkg8UPSyW7GnrGDZg&usqp=CAU"
												alt="sss">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-8">
											<label for="nome">Imagem da postagem</label>
											<div class="input-group mb-3">
												<input type="file" class="form-control" id="inputGroupFile01"
													accept="image/*">
											</div>
										</div>

									</div>

									<div class="row">
										<div class="form-group  col-md-12 ">
											<label for="nome">Titulo de postagem</label>
											<input type="email" class="form-control" id="nome"
												placeholder="Digite nome do Animal ">
											<div class="row">
												<div class="col-md-12">
													<label for="observações">Descrição da postagem</label>
													<textarea class="form-control"
														placeholder="descreva aqui os dados da postagem "
														id="observações" style="height: 200px;"></textarea>
												</div>
												<div class="col-sm-4">
													<label for="nome">Data da postagem</label>
													<input type="date" class="form-control" id="nome"
														placeholder="Digite nome do Animal ">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="card  card-default ">
					<div class="row featurette align-items-center" style="margin: 20px">
						<div class="col-md-12 order-md-1">
							<div class="row">
								<button type="button" class="btn btn-success btn-lg btn-block">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>




	</main>
	<!-- footer - rodape basico -->
	<div th:replace="fragments/footer :: footer">...</div>
	<section th:replace="fragments/script :: section-script">...
	</section>

</body>

</html>