<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Anuncio animal')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navbar}"></nav>
    <main class="container mt-1   bg-light ">
        <div class="row">
            <!-- <section th:replace="~{private/animal/fragmentos :: sidebar('anuncio')}"></section> -->
            <div th:replace="~{admin/fragmentos :: sidebar('anuncio')}"></div>
			<section th:fragment="section-tab-dados(cabecalho)" class="col-md-8 my-3 ">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link disabled " id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Dados</button>
                        <button class="nav-link active " id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">Galeria</button>
                        <!-- disabled -->
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade " id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab" tabindex="0">
                            <!-- <section
                                th:replace="~{private/animal/fragmentos :: form(requisicaoFormAnimal,'/pet/private/animal','Cadastrar novo animal')}">
                                formulario</section> -->
                        </div>
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab" tabindex="0">
                            <section th:replace="~{private/animal/fragmentos :: galeria}">galeria</section>
                        </div>
                    </div>
                </div>

            </section>
            <!-- <section th:replace="~{private/animal/fragmentos :: section-tab-image}" ></section> -->
            <!-- <section
                th:replace="~{private/animal/fragmentos :: form(requisicaoFormAnimal,'/pet/private/animal','Cadastrar novo animal')}">
                formulario</section> -->

        </div>
    </main>
    <section th:replace="~{fragmentos :: section-script}"></section>
    <script>

		let photo = document.getElementById('imagemExibir');
		let file = document.getElementById('file-img');

		photo.addEventListener('click', () => {
			file.click();
		});

		file.addEventListener('change', () => {

			if (file.files.length <= 0) {
				return;
			}

			let reader = new FileReader();

			reader.onload = () => {
				photo.src = reader.result;
			}

			reader.readAsDataURL(file.files[0]);
		});
	</script>
</body>

</html>