<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{fragmentos :: head('Exibir anuncio animal')}"></head>

<body>
    <nav th:replace="~{fragmentos :: navbar}"></nav>
    <main class="container mt-1   bg-light  ">
        <div class="row">
            <!-- Editar Animal # -->
            <section th:replace="~{private/animal/fragmentos :: sidebar('anuncio')}"></section>
            <section class="col-md-8">
                <h1 class="display-5">Detalhe de animal #<span th:text="${animal.id}"></span></h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                    <a href="/pet/private/animal" class="btn btn-primary me-md-2 px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-list-check" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                        </svg>
                        Lista</a>

                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-12">
                            <hr>
                            <h1 class="fs-4">Dados do animal  </h1>
                            <b>Nome:</b> <span class="form-label" th:text="${animal.nome}"></span><br />
                            <b>Especie:</b> <span class="form-label" th:text="${animal.especie.descricao}"></span><br />
                            <b>Raça:</b> <span class="form-label" th:text="${listaRaca.raca}"></span><br />
                            <b>Porte:</b> <span class="form-label" th:text="${animal.porte.descricao}"></span><br />
                            <b>Cor de pelagem:</b> <span class="form-label" th:text="${listaCor.cor}"></span><br />

                            <b>Especie:</b> <span class="form-label" th:text="${animal.especie.descricao}"></span><br />


                            <b>Disponivel:</b> <a th:if="${animal.disponivel}" class="text-decoration-none"
                                th:href="@{/pet/private/animal/{id}/deactivate (id=${animal.id})}"> Sim</a> <a
                                th:unless="${animal.disponivel}" class="text-decoration-none"
                                th:href="@{/pet/private/animal/{id}/activate (id=${animal.id})}">Não</a>

                            <br />
                            <b>Atualizado por:</b> Edson <br />
                            <b>Atualizado em:</b> 22/12/22 <br />
                        </div>
                    </div>
                    <hr>
                    <h1 class="fs-4">Imagens do animal  </h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div><div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card shadow-sm">
                                <img width="100%" height="100%"
                                    src="https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?size=626&ext=jpg"
                                    class="img-thumbnail" alt="...">
                            </div>
                            
                        </div>
                    </div>

            </section>

        </div>
    </main>
    <!-- <h1>mostrando</h1> -->
</body>

</html>