<div class="content-wrapper" th:fragment="container-postagem">
        <!-- Content Header (Page header) -->
        <div class="content-header">

            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">


                        <div class="col-lg-12">

                            <!-- START THE FEATURETTES -->
                            <div class="col-sm-6">
                                <h1 class="m-0" id="feiras-eventos-regiao">
                                    Feiras e eventos <small>de sua região!</small>
                                </h1>
                            </div>
                            <div class="card">
                                <!-- <hr class="featurette-divider" /> -->

                                <div class="row featurette align-items-center" style="margin: 20px">
                                    <div class="col-md-7">
                                        <h2 class="featurette-heading">
                                            <a href="https://portal.barueri.sp.gov.br/Noticia/22092022-final-de-semana-tem-feira-de-adocao-de-caes-nos-parques-da-cidade"
                                                target="_blank" class="eaturette-heading" style="text-decoration: none">
                                                <span class="text-muted"> Final de semana tem Feira de Adoção de Cães
                                                    nos parques da cidade.</span>
                                            </a>
                                        </h2>

                                        <p class="lead">
                                            A Feira de Adoção de Cães continua acontecendo aos
                                            finais de semana (sábados e domingos) de setembro no
                                            Parque Municipal Dom José (rua Ángela Mirela, 500 ,
                                            Jardim Barueri).
                                        </p>
                                        <small class="text-muted">Data de Publicação: 22/09/2022</small>
                                    </div>
                                    <div class="col-md-5">
                                        <img class="featurette-image img-fluid mx-auto rounded"
                                            data-src="holder.js/400x400/auto" alt="400x400"
                                            style="width: 500px; height: 400px"
                                            src="https://servicos.barueri.sp.gov.br/cms/Upload/Noticia/22092022-final-de-semana-tem-feira-de-adocao-de-caes-nos-parques-da-cidade-0.jpg"
                                            data-holder-rendered="true" />
                                    </div>
                                </div>

                                <hr class="featurette-divider" />
                                <div class="row featurette align-items-center" style="margin: 20px">
                                    <div class="col-md-7 order-md-2">
                                        <h2 class="featurette-heading">
                                            <a href="http://servicos.barueri.sp.gov.br/agendamentocepad/SelAnimal.aspx"
                                                target="_blank" class="eaturette-heading" style="text-decoration: none">
                                                <span class="text-muted"> Agendamento de Castração.</span>
                                            </a>
                                        </h2>
                                        <p class="lead">
                                            Agendamento para a campanha de castração de animais
                                            cadastrados no Registro Geral de Animais(RGA).
                                        </p>
                                        <small class="text-muted">Data de Publicação: 22/09/2022</small>
                                    </div>
                                    <div class="col-md-5 order-md-1">
                                        <img class="featurette-image img-fluid mx-auto rounded  "
                                            data-src="holder.js/400x400/auto" alt="400x400"
                                            src="http://servicos.barueri.sp.gov.br/agendamentocepad/img/agendamento.jpg"
                                            data-holder-rendered="true" style="width: 500px; height: 400px" />
                                    </div>
                                </div>

                                <hr class="featurette-divider" />

                                <div class="row featurette align-items-center" style="margin: 20px">
                                    <div class="col-md-7">
                                        <h2 class="featurette-heading">
                                            <a href="https://portal.barueri.sp.gov.br/Noticia/09092022-resgate-animal-da-nova-chance-a-pets-abandonados"
                                                target="_blank" class="eaturette-heading" style="text-decoration: none">
                                                <span class="text-muted"> Resgate Animal dá nova chance a pets
                                                    abandonados.</span>
                                            </a>
                                        </h2>
                                        <p class="lead">
                                            O trabalho desenvolvido pelos profissionais que atuam
                                            no Resgate Animal de Barueri significa uma segunda
                                            chance aos animais domésticos abandonados pelas ruas.
                                        </p>
                                        <small class="text-muted">Data de Publição: 09/09/2022</small>
                                    </div>
                                    <div class="col-md-5">
                                        <img class="featurette-image img-fluid mx-auto rounded"
                                            data-src="holder.js/400x400/auto" alt="400x400"
                                            src="https://servicos.barueri.sp.gov.br/cms/Upload/Noticia/09092022-resgate-animal-da-nova-chance-a-pets-abandonados-0.jpg"
                                            data-holder-rendered="true" style="width: 500px; height: 400px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>