
<!-- footer - rodape basico -->

<section class="bd-footer py-1  mt-5  " th:fragment="footer-rodape">
	<div class="container">
		<div class="row">
			<div class="col  mx-1 mb-1  bg-light ">
				<h5 class="text-center">Quem somos</h5>
				<p class="text-center">Somos um sistema para gerenciar adoções
					de animais, de uma maneira facil e intuitiva.</p>
			</div>
			<div class="col    mx-1 mb-1   bg-light">
				<h5 class="text-center">Missão</h5>
				<p class="text-center">Trazer transparencia e meios onde o
					usuario possa adotar com facilidade seu pet.</p>
			</div>
			<div class="col  mx-1 mb-1   bg-light">
				<h5 class="text-center">Visão</h5>
				<p class="text-center">Ser um dos principais meios para adoção
					de pets no Brasil.</p>
			</div>
			<div class="col  mx-1 mb-1 bg-light">
				<h5 class="text-center ">Valores</h5>
				<p>Trazer felicidade a muitos lares e a muitos animais, por meio
					de facilitar o seu par pet perfeito.</p>
			</div>
		</div>

	</div>
</section>